Actividad4_6/modulos.dtd

<!ELEMENT modulosBD (modulos*)>  
    <!ELEMENT modulos (modulo)> 
    <!ELEMENT modulo (nombreMod, uds)> 
    <!ELEMENT nombreMod (#PCDATA)> 
    <!ELEMENT uds (ud)> 
    <!ELEMENT nombre (#PCDATA)> 
    <!ELEMENT ud (nombre, descripcion, tipo)> 
    <!ELEMENT descripcion (#PCDATA)> 
    <!ELEMENT tipo (#PCDATA)> 
 
    
   

    